*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px 30px 20px 60px;
    margin-left: 50px;
    background-image: url(/assets/backgroundimage.jpg)
    }
.p {
    width: 100%;
    text-align: center;
}
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.container p{
    line-height: 1.5;

}
#galeria .col-4 {
    margin: 0 ;
    padding: 25px;
}
#galeria img{
    width: 100%;
}
#galeria img:hover {
    border: 5px solid #f7f7f7;
}